
/* Imports
==================================================================== */
@import 'foundation';
@include foundation-everything;


/* Generic
==================================================================== */

%clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.off-canvas {
	height: 100%;
}

.off-canvas-content {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a.active {
	font-weight: bold;
}

.button {
	margin-right: 10px;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}

.main-header {
	margin-bottom: 30px;
}

.hidden {
	display: none;
}

/* Components
==================================================================== */

.off-canvas {
	background: $light-gray;
}

.videos-list {
	@extend %clearfix;

	.columns:last-child {
		float:left;
	}

	.video-list-content {
		@extend %clearfix;

		margin-bottom: 20px;

		.button {
			margin-bottom: 0;
		}

	}

	.thumbnail-holder {
		display: block;
		position: relative;

		.category {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: rgba(255, 255, 255, 0.5);
			padding: 1px 0;
			text-align: center;
			color: #20a208;
		}
	}

	.title {
		margin-top: 20px;
	}
}

.pagination-wrapper {
	clear: both;
	margin-top: 30px;
}


form {
	margin-top: 30px;

	.row {
		margin: 10px 0 ;
	}

	input {
		border: 1px solid $medium-gray;
		padding: 5px;

	}

	.error-msg {
			display: block;
			color: #f00;
	}
}

.category-picker {
	li {
		display: inline-block;
		padding: 3px 10px;
		cursor: pointer;
	}
}

/* Media queries (should be mobile first :/)
==================================================================== */
@media only screen and (min-width: 480px) {
	.videos-list {

		margin-bottom: 30px;

		.thumbnail-holder {
			overflow: hidden;
			height: 130px;
		}

		.title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}
}

@media only screen and (min-width: 768px) {
	.videos-list {
		$videoPadding: 15px;

		.video-list-content {
			display: flex;
			padding: $videoPadding;
			border: 1px solid #eee;
			box-shadow: 0 0 10px #eee;
		}

		.thumbnail-holder {
			width: 130px;
			height: 75px;
			flex: 0 0 auto;
			overflow: hidden;
			margin-right: 10px;
		}

		.video-content {
			flex: 1 1 auto;
			min-width: 0;
		}

		.title {
			margin-top: -10px;
		}
	}

}



